[submodule "bigdiff/ed/fcq"]
	path = bigdiff/ed/fcq
	url = git@github.com:sikuli/fcq.git
[submodule "book/craftjs"]
	path = book/craftjs
	url = git@github.com:sikuli/craftjs.git
[submodule "courses/2015sp/website"]
	path = courses/2015sp/website
	url = git@github.com:ucdd2-sp15/website.git
[submodule "courses/2015sp/ucdd-htmlgen"]
	path = courses/2015sp/ucdd-htmlgen
	url = git@github.com:ucdd2-sp15/ucdd-htmlgen.git
[submodule "courses/2015sp/people"]
	path = courses/2015sp/people
	url = git@github.com:ucdd2-sp15/people.git
[submodule "courses/2014fall/CSCI-4830-002-2014.github.io"]
	path = courses/2014fall/CSCI-4830-002-2014.github.io
	url = git@github.com:CSCI-4830-002-2014/CSCI-4830-002-2014.github.io.git
[submodule "gradcomm/admission"]
	path = gradcomm/admission
	url = git@github.com:CU-CS-Gradcomm/admission.git
[submodule "naturenet/www"]
	path = naturenet/www
	url = https://github.com/naturenet/naturenet-www
[submodule "personal/homepage"]
	path = personal/homepage
	url = git@github.com:doubleshow/homepage.git
[submodule "courses/2015sp/ucdd-lodash"]
	path = courses/2015sp/ucdd-lodash
	url = git@github.com:ucdd2-sp15/ucdd-lodash.git
[submodule "bigdiff/design"]
	path = bigdiff/design
	url = git@github.com:sikuli/bigdiff-design
[submodule "courses/2015sp/ucdd-jaded"]
	path = courses/2015sp/ucdd-jaded
	url = git@github.com:ucdd2-sp15/ucdd-jaded.git
[submodule "bigdiff/dom"]
	path = bigdiff/dom
	url = git@github.com:sikuli/diff-dom.git
